.layout {
	display: block;
}

.service {
	display: flex;
	justify-content: space-around;
	margin-top: 109px;
}

.descriptionService {
	display: block;
	margin-left: 95px;
}

.titleService {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 69px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	width: 560px;
	height: 138px;
}

.textService {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	width: 447px;
	height: 88px;
}

.sapiens {
	width: 761px;
	height: 640px;
	margin-right: 100px;
}

.howToUse {
	display: block;
	margin-top: 90px;
}

.title {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 69px;
	letter-spacing: 0.01em;
	width: 566px;
	height: 85px;
	margin-left: 131px;
}

.instruction {
	display: flex;
	background-image: url(../../assets/phone.jpg);
	justify-content: flex-end;
	align-items: center;
    background-size: cover;
    height: 803px;
}

.phone {
	width: 500px;
	height: 500px;
}

.instructionIcon {
	display: flex;
    flex-direction: column;
    height: 421px;
    justify-content: space-between;
	margin-top: 28px;
	margin-left: 214px;
}

.instructionTitle {
	display: flex;
    flex-direction: column;
	height: 457px;
    justify-content: space-between;
	margin-left: 20px;
	margin-top: 10px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.01em;
}

.instructionDescription {
	display: flex;
	flex-direction: column;
	height: 494px;
	width: 480px;
	justify-content: space-between;
	margin-left: 40px;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.01em;
	margin-right: 178px;
}

.rates {
	margin-top: 102px;
}

.ratesCards {
	display: flex;
	justify-content: center;
}

.cardMinutes {
	width: 370px;
	height: 300px;
	background: #F291BF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin-right: 47px;
	padding: 22px;
}

.cardThirty {
	width: 370px;
	height: 300px;
	background: #F9CF3E;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin-right: 47px;
	padding: 22px;
}

.cardNinety {
	width: 370px;
	height: 300px;
	background: #ADD3C7;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 22px;
}

.cardText {
	color: #FFFFFF;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: 0.01em;
}

.booking {
	color: #E0DCDC;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: 0.01em;
}

.ratesText {
	display: flex;
	justify-content: center;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.01em;
	width: 817px;
	margin: 78px auto;
}

.mobileApp {
	background-color: #EEDDFF;
	display: flex;
	justify-content: center;
}

.downloadApp {
	display: block;
	margin-top: 164px;
	margin-right: 197px;
}

.titleApp {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 46px;
	letter-spacing: 0.01em;
	margin-left: 14px;
}

.textApp {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.01em;
}

.downloadButtons {
	display: flex;
	justify-content: space-between;
    width: 284px;
	margin-left: 111px;
}