.layout {
	display: block;
	margin: 0 auto;
}

.service {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.descriptionService {
	display: block;
}

.titleService {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 55px;
	line-height: 69px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	width: 560px;
	height: 138px;
}

.textService {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	width: 447px;
	height: 88px;
}

.sapiens {
	width: 559px;
	height: 470px;
	margin-right: 100px;
}

.howToUse {
	display: block;
}

.title {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 63px;
	letter-spacing: 0.01em;
	margin-left: 131px;
}

.instruction {
	display: flex;
	background-image: url(../../assets/phone.jpg);
	justify-content: flex-end;
	align-items: center;
    background-size: cover;
    height: 600px;
}

.phone {
	width: 500px;
	height: 500px;
}

.instructionIcon {
	display: flex;
    flex-direction: column;
    height: 421px;
    justify-content: space-between;
	margin-top: 13px;
}

.instructionTitle {
	display: flex;
    flex-direction: column;
	height: 457px;
    justify-content: space-between;
	margin-left: 20px;
	margin-top: 10px;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01em;
}

.instructionDescription {
	display: flex;
	flex-direction: column;
	height: 473px;
	width: 726px;
	justify-content: space-between;
	margin-left: 40px;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01em;
	margin-right: 254px;
	margin-top: 4px;
}

.rates {
	margin-top: 42px;
}

.ratesCards {
	display: flex;
	justify-content: center;
}

.cardMinutes {
	width: 247px;
	height: 200px;
	background: #F291BF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin-right: 47px;
	padding: 22px;
}

.cardThirty {
	width: 247px;
	height: 200px;
	background: #F9CF3E;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin-right: 47px;
	padding: 22px;
}

.cardNinety {
	width: 247px;
	height: 200px;
	background: #ADD3C7;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 22px;
}

.cardText {
	color: #FFFFFF;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 37px;
	letter-spacing: 0.01em;
	margin: 2px 0;
}

.booking {
	color: #E0DCDC;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 37px;
	letter-spacing: 0.01em;
	margin: -15px 0;
}

.ratesText {
	display: flex;
	justify-content: center;
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.01em;
	width: 817px;
	margin: 23px auto;
}

.mobileApp {
	background-color: #EEDDFF;
	display: flex;
	justify-content: center;
	height: 563px;
}

.downloadApp {
	display: block;
	margin-top: 164px;
	margin-right: 197px;
}

.titleApp {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 46px;
	letter-spacing: 0.01em;
	margin-left: 20px;
}

.textApp {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 23px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.01em;
}

.downloadButtons {
	display: flex;
	justify-content: space-between;
    width: 284px;
	margin-left: 83px;
}