.container {
    margin: 0 78px;
}

.forStaffText {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin-top: 67px;
}

.container a {
	color: blue;
}

.container a:hover {
	color: black;
}

.information {
    display: flex;
}

.titleInformation {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.textInformation {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
}

.text a {
    color: blue;
}

.text a:hover {
    color: black;
}