.footer {
	min-height: 50px;
	background: #A63268;
	color: #fff;
	display: flex;
	padding: 0 20px;
	align-items: center;
	height: 122px;
}

.copy {
	margin-left: auto;
}

.logo {
	width: 56px;
	height: 50px;
}

.title {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
}
