.footer {
	min-height: 50px;
	background: #A63268;
	color: #fff;
	display: flex;
	padding: 0 20px;
	align-items: center;
	height: 137px;
}

.copy {
	margin-left: auto;
}

.logo {
	width: 35px;
	margin-right: 15px;
}
